/* style.css */

/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Container */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Buton */
button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #4cae4c;
}

/* Input ve Label */
label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="file"] {
    padding: 10px;
}

/* Grafikler İçin Stil */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
